$theme-primary-white: whitesmoke;
$theme-primary-white-dark: rgb(237, 237, 237);

$theme-primary-pink: #ab858a;
$theme-primary-pink-light: #cab0b3;

$theme-primary-wine: #492e43;
$theme-primary-black: #1d121a;
$theme-primary-green: rgb(108, 119, 21);
$theme-primary-orange: rgb(208, 139, 55);

$theme-primary-cyan-light: rgb(117, 167, 188);
$theme-primary-cyan: rgb(64, 116, 138);
$theme-primary-cyan-bright: rgb(61, 171, 219);
$theme-insta: rgb(218, 71, 100);

$theme-primary-brown: rgb(138, 117, 64);
$section-title-margin: 5rem;
