.footer {
  color: $theme-primary-white;
  font-size: 1.8rem;
  font-family: "Qurova";
  display: flex;

  &__linkbox {
    flex: 1;
    padding: 3rem 1rem;
  }
  .resources {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    align-items: center;

    &__resource {
      flex: 0 0 30%;
      margin: 0.5rem;
      padding-left: 1rem;
      text-align: center;

      &:last-child {
        padding: 1rem;
        align-self: center;
        grid-column: span 2;

        span {
          display: block;
          margin-bottom: 1rem;
        }
      }

      &-pay {
        flex: 2;

        span {
          color: $theme-primary-cyan-bright;
        }
      }
    }
  }
  &__copyright {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }

  @media screen and (max-width: 850px) {
    flex-direction: column;
  }
}
