.checkout-toggle {
  visibility: visible;
  opacity: 1;
}

.checkout__bkg-in {
  transform: scale(60);
}

.checkout__bkg-out {
  transition-delay: 0.1s;
  transform: scale(1);
}

.checkout__inv-in {
  transition-delay: 0.2s;
  opacity: 1;
  transform: rotate(0deg);
}

.checkout__inv-out {
  transition-delay: 0s;
  opacity: 0;
  transform: rotate(-45deg);
}
.checkout__bask-in {
  transition-delay: 0.3s;
  opacity: 1;
  transform: rotate(0deg);

  @include screen(mid-port) {
    transition-delay: 0.4s;
    transform: translateY(0);
  }
}

.checkout__bask-out {
  transition-delay: 0.1s;
  opacity: 0;
  transform: rotate(45deg);

  @include screen(mid-port) {
    transition-delay: 0s;
    transform: translateY(-100%);
  }
}

.safari-interactive-default {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
