.contacts {
  font-family: "Qurova";
  list-style: none;
  flex: 1;
  margin-left: 2rem;

  align-self: center;
  justify-self: center;
  color: $theme-primary-wine;
  border-radius: 30px;

  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: repeat(3, minmax(20%, 13rem));
  grid-template-areas:
    "icon1 soc1 soc1"
    "soc2 soc2 icon2"
    "icon3 soc3 soc3";
  grid-auto-flow: row dense;
  align-content: center;
  gap: 0.3rem;

  @include screen(mid-land) {
    width: 90%;
    margin-left: 0rem;
    margin-top: 2rem;
  }

  @include screen(land-mid-land) {
    margin-top: 1rem;

    grid-template-rows: repeat(3, minmax(20%, 10rem));
  }

  &__contact {
    display: flex;
    font-size: 4rem;
    font-weight: 600;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;

    border: solid;
    border-radius: 5px;
    transition: all 0.2s ease;

    &:has([class*="link"]) {
      cursor: pointer;
      border-color: $theme-primary-cyan;

      &:hover {
        border-color: $theme-primary-cyan-bright;
      }
    }

    &--1 {
      grid-area: icon1;
    }
    &--2 {
      grid-area: soc1;
    }
    &--3 {
      grid-area: icon2;
    }
    &--4 {
      grid-area: soc2;
    }
    &--5 {
      grid-area: icon3;
    }
    &--6 {
      grid-area: soc3;
    }

    @include screen(large-std) {
      font-size: 3rem;
    }
  }
}
