.form {
  position: relative;
  display: inline-flex;
  flex: 1;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: "Qurova";
  color: $theme-primary-white;
  border: solid 3px $theme-primary-wine;
  border-radius: 5px;
  margin-left: 1rem;

  &__heading {
    margin-bottom: 1rem;
    color: $theme-primary-green;
    width: 100%;

    @include screen(large-std) {
      font-size: 5rem;
    }
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include screen(land-mid-land) {
      flex-direction: row;
    }
  }
  .label {
    display: flex;
    flex: 1;
    width: 80%;

    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 2.2rem;

    span {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      box-sizing: content-box;
      border: solid 3px white;
      border-radius: 100%;
      margin-top: 0.5rem;
    }
  }
  &__textbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__textarea-label {
    width: 80%;
    white-space-collapse: break-spaces;
    line-clamp: 2;
    font-size: 3rem;
  }

  textarea {
    height: 15rem;
    width: 80%;
    resize: none;
    border-radius: 5px;
    background: none;
    border: solid 2px $theme-primary-white;
    margin-top: 1rem;
    color: $theme-primary-black;
    font-size: 2.5rem;
    &:focus {
      border: solid 3px $theme-primary-wine;
      outline: none;
    }
  }

  &__submitbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__options {
    display: flex;
    width: 60%;
    margin: 2rem auto;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      font-size: 2.2rem;
    }
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      color: $theme-primary-wine;
      span {
        border-color: $theme-primary-wine;
        background: radial-gradient(
          circle at 50%,
          $theme-primary-wine 60%,
          transparent 12%
        );
      }
    }
  }

  button {
    position: relative;
    bottom: 0;
    left: 0;
    transform: translate(0);
    align-self: center;
    margin: 0 auto;
    background-color: $theme-primary-wine;
    font-family: inherit;

    &:hover,
    &:active {
      background-color: lighten($theme-primary-wine, 20%);
    }
  }

  @include screen(mid-land) {
    height: auto;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  @include screen(land-mid-land) {
    margin-top: 50px;
    padding: 2rem;
    max-height: 90vh;
  }

  @include screen(land-small) {
    flex: 0;
  }
}
