.products {
  position: relative;
  z-index: 150;
  list-style: none;
  margin: 0 auto;

  @include screen(land-mid-land) {
    width: 100%;
  }

  @include screen(land-mid-port) {
    width: 100%;
  }
  @include screen(mid-land) {
    width: 100%;
  }
  @include screen(small) {
    width: 100%;
  }

  .products__product {
    position: relative;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    min-height: 40rem;
    overflow: hidden;

    font-family: "Qurova";
    color: $theme-primary-wine;
    background: $theme-primary-white-dark;

    background-blend-mode: multiply;
    border: none;
    border-radius: 40px;
    box-shadow: 0rem 1rem 6rem rgba(0, 0, 0, 0.304);

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &--1 {
      background-image: url(/img/nnnoise.webp),
        linear-gradient(
          to right,
          rgb(255, 255, 255) 50%,
          rgba(255, 204, 2, 0.442) 80%
        );

      background-blend-mode: multiply;
      background-size: contain;

      @include screen(mid-land) {
        background-image: url(/img/nnnoise.webp),
          linear-gradient(
            to bottom,
            rgb(255, 255, 255) 50%,
            rgba(255, 204, 2, 0.442) 80%
          );
      }
    }
    &--2 {
      background-image: url(/img/oooscillate.webp),
        linear-gradient(
          to right,
          rgb(255, 255, 255) 50%,
          rgba(253, 231, 231, 0.825) 80%
        );

      background-size: cover;
      background-position-y: 20%;

      @include screen(mid-land) {
        background-image: url(/img/oooscillate.webp),
          linear-gradient(
            to bottom,
            rgb(255, 255, 255) 50%,
            rgba(253, 231, 231, 0.825) 80%
          );
      }
    }
    &--3 {
      background-image: url(/img/rrreplicate.webp),
        linear-gradient(
          to right,
          rgb(255, 255, 255) 50%,
          rgba(244, 246, 255, 0) 80%
        );

      background-repeat: no-repeat;
      background-size: 2000px 1500px;

      @include screen(mid-land) {
        background-image: url(/img/rrreplicate.webp),
          linear-gradient(
            to bottom,
            rgb(255, 255, 255) 50%,
            rgba(255, 255, 255, 0.966) 80%
          );
      }
      @include screen(land-mid-land) {
        padding-left: 3rem;
      }
      @include screen(land-mid-port) {
        padding-left: 3rem;
      }
    }

    @include screen(large-std) {
      grid-template-columns: 40% 60%;
    }

    @include screen(mid-port) {
      grid-template-columns: 100%;
    }

    @include screen(land-mid-land) {
      grid-template-columns: 30% 40% 30%;
    }

    @include screen(small) {
    }
    &-img {
      display: flex;
      justify-content: center;
      height: 90%;
      margin-left: 3rem;

      img {
        width: 100%;
        max-width: 65rem;
        height: 100%;
        object-fit: cover;
        overflow: visible;
      }

      @include screen(large-std) {
        margin-left: 0;
      }

      @include screen(mid-land) {
        img {
          width: 80%;
        }
      }
      @include screen(mid-port) {
        img {
          width: 50%;
        }
      }

      @include screen(land-mid-land) {
        height: 75%;
        margin-left: 3rem;
      }
      @include screen(land-mid-port) {
        margin-left: 3rem;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem;

      & > :not(:nth-child(1), :nth-child(2)) {
        margin: 0.5rem 0rem;
      }
      &-name {
        grid-column: info-start/info-end;
        margin-top: 3rem;
        font-size: 6rem;
        order: -5;
        text-wrap: nowrap;

        @include screen(mid-land) {
          text-wrap: wrap;
        }

        @include screen(mid-port) {
          margin-top: 0;
        }
        @include screen(land-mid-land) {
          font-size: 5rem;
        }
      }
      &-texture {
        margin-bottom: 5rem;
        font-size: 4rem;
        border-bottom: solid 2px $theme-primary-pink;

        @include screen(mid-land) {
          margin-bottom: 2rem;
        }

        @include screen(land-mid-land) {
          font-size: 3rem;
        }
      }
      &-size {
        font-size: 2rem;
      }
      &-qty {
        font-size: 2rem;
        span {
          color: $theme-primary-cyan;
        }
      }
      &-color {
        grid-column: info-start/info-end;
        font-size: 2rem;
      }
      // @include screen(mid-land) {
      //   margin-left: 0;
      // }
      @include screen(mid-land) {
        padding: 0rem 3rem;
        padding-left: 0;
        margin: 0rem 3rem;
        margin-left: 0;
      }
      @include screen(mid-port) {
        padding: 0rem 3rem;
        margin: 0rem 3rem;
      }

      @include screen(land-mid-port) {
        padding: 3rem;
      }
    }

    &-buy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;

      &-price {
        font-size: 7rem;
        align-items: baseline;

        & span {
          font-size: 10rem;
          font-weight: 300;
          display: inline-block;
          transform: rotateY(180deg);

          @include screen(mid-land) {
            font-size: 8rem;
          }
        }

        @include screen(mid-land) {
          margin-top: 3rem;
          grid-row-start: 6;
        }
        @include screen(small) {
          margin-top: 1rem;
        }
      }

      &-cta {
        position: relative;
        font-family: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease;

        &:active {
          scale: 0.9;
        }

        @include screen(mid-land) {
          grid-row-start: 6;
        }
      }

      @include screen(large-std) {
        flex: 1;
        flex-direction: row-reverse;
        grid-column: 1/-1;
        align-items: center;
        &-cta {
          margin-right: 2rem;
        }
      }

      @include screen(mid-port) {
        flex: 1;
        flex-direction: column;
        grid-column: 1/-1;
        align-items: center;
      }
      @include screen(land-mid-land) {
        grid-column: 3;
        flex-direction: column;
      }

      @include screen(land-mid-port) {
        grid-column: 3;
        flex-direction: column;
      }
    }
  }
}
