.reviews {
  flex: 1;
  display: grid;
  padding: 0rem 2rem;
  grid-template-areas:
    "text1 r1"
    "r2 r2"
    "r3 text2";

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, minmax(0, 30%));

  gap: 1rem;
  list-style: none;
  align-content: center;
  justify-content: center;

  background: $theme-primary-white;
  background-image: linear-gradient(
      rgba(0, 255, 94, 0.13),
      rgba(0, 255, 94, 0.13)
    ),
    url("/img/ssspiral-2.svg");
  background-blend-mode: difference;
  background-size: cover;
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.125);
  border-radius: 60px;

  height: 100%;

  @include screen(mid-land) {
    flex: none;
    height: 100vh;
  }
  @include screen(land-small) {
    height: 180vh;
  }

  &__review {
    font-size: 3rem;
    font-family: "Qurova";
    position: relative;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    overflow: visible;
    color: $theme-primary-white-dark;

    &-bkg {
      height: 130%;
      position: absolute;
      left: 0;
      z-index: 10;
      overflow: hidden;
      box-sizing: con-box;
      left: 50%;
      transform: translate(-50%, -15%);

      @include screen(small) {
        height: 120%;
      }

      @include screen(smaller) {
        height: 110%;
      }

      @include screen(smallest) {
        height: 100%;
      }

      @include screen(land-mid-land) {
      }
    }

    &-avatar {
      width: 8rem;
      height: 8rem;
      border-radius: 100%;
      object-fit: cover;
      left: 50%;
      transform: translate(calc(-50% - 30px), -30px);
      position: absolute;
      z-index: 10;

      @include screen(mid-land) {
        width: 9rem;
        height: 9rem;
        transform: translate(calc(-50% - 40px), -35px);
      }

      @include screen(mid-port) {
        width: 10rem;
        height: 10rem;
      }

      @include screen(small) {
        width: 11rem;
        height: 11rem;
      }

      @include screen(smaller) {
        transform: translate(calc(-50% - 40px), -30px);
      }

      @include screen(smallest) {
        width: 8rem;
        height: 8rem;
        transform: translate(calc(-50% - 25px), -25px);
      }
    }

    &-metabox {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 50%;
      transform: translate(calc(-50%), 50px);
      z-index: 10;
      font-size: 3rem;

      white-space: nowrap;

      @include screen(mid-land) {
        font-size: 3.5rem;
      }

      @include screen(small) {
        font-size: 4.5rem;
      }

      @include screen(smaller) {
        font-size: 4rem;
      }

      @include screen(smallest) {
        font-size: 3.5rem;
      }
    }

    &-author {
      font-size: 1em;
      font-weight: 400;
      padding-bottom: 1.5rem;
      color: $theme-primary-pink-light;
      z-index: 10;
    }

    &-product {
      font-size: 0.8em;
      font-weight: 100;
      z-index: 10;
    }

    &-description {
      grid-column: 2;
      font-size: 0.8em;
      white-space: nowrap;

      &:nth-of-type(2) {
        color: $theme-primary-wine;
      }
    }

    &--1,
    &--2 {
      font-family: "Romantic";
      font-size: 5rem;
      display: flex;

      @include screen(mid-port) {
        font-size: 6rem;
      }
      @include screen(smallest) {
        font-size: 5rem;
      }
    }

    &--1 {
      grid-area: text1;
      color: rgb(173, 89, 24);
      justify-content: flex-start;
    }

    &--2 {
      text-align: right;
      color: $theme-primary-wine;
      justify-content: flex-end;
      z-index: 9;

      h2 {
        transform: translateX(-2vw);
        @include screen(large-std) {
        }
      }
    }

    &--3 {
      grid-area: r1;
    }
    &--4 {
      grid-area: r2;
      h3 {
        color: $theme-primary-wine;
      }
    }
    &--5 {
      grid-area: r3;
      text-wrap: nowrap;
      h3 {
        color: $theme-primary-cyan;
      }
      h4 {
        color: $theme-primary-black;
      }
      p {
        color: $theme-primary-wine;
      }
    }
  }
}
