@keyframes basket-add {
  0% {
    opacity: 0;
    visibility: visible;
    bottom: 300%;
  }
  75% {
    opacity: 1;
    scale: 1.3;
  }
  90% {
    scale: 1;
    bottom: 0;
    rotate: x 360deg;
  }
  100% {
    scale: 1;
    opacity: 0;
    visibility: hidden;
    transform: translate(0%, 0%);
  }
}

@keyframes pulse {
  0%,
  100% {
    scale: 1;
  }

  25% {
    fill: $theme-primary-cyan-bright;
  }
  50% {
    scale: 1.1;
  }
}
