html {
  font-size: 62.5%;
  scroll-snap-type: mandatory;
  scroll-snap-align: start;

  @include screen(mid-land) {
    font-size: 58%;
  }

  @include screen(mid-port) {
    font-size: 50%;
  }

  @include screen(small) {
    font-size: 40%;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  position: relative;
  box-sizing: border-box;
  background: rgb(71, 71, 109);
  overflow-x: hidden;
}
