@font-face {
  font-family: "Romantic";
  src: url("../fonts/Romantic-Harmony-Optimized/romanticharmonypersonaluseonlyregular-pg4yy-webfont.woff")
      format("woff"),
    url("../fonts/Romantic-Harmony-Optimized/romanticharmonypersonaluseonlyregular-pg4yy-webfont.woff2")
      format("woff2");
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Qurova";
  src: url("/fonts/Qurova-Optimized/qurovademo-regular-bf67a5c637a5dc9-webfont.woff")
      format("woff"),
    url("/fonts/Qurova-Optimized/qurovademo-regular-bf67a5c637a5dc9-webfont.woff2")
      format("woff2");
  font-display: swap;
  font-optical-sizing: auto;
}
