.heading-primary {
  display: flex;
  margin-bottom: 2rem;
  font-size: 11rem;
  color: $theme-primary-white;
  letter-spacing: 1.5rem;
  position: relative;

  @include screen(small) {
    font-size: 8rem;
  }
}

.heading-primary--section {
  font-family: "Romantic";
  font-size: 8rem;
  color: $theme-primary-white;
}

.heading-secondary {
  margin-top: 2rem;
  font-size: 4rem;
  color: $theme-primary-white;
  letter-spacing: 0.5rem;
  position: relative;
  @include screen(small) {
    font-size: 3rem;
  }
}
.heading-tertiary {
  font-family: "Romantic";
  font-size: 5rem;
  color: $theme-primary-black;
}

.page-link {
  text-decoration: none;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease;

  &,
  &:visited {
    color: $theme-primary-white-dark;
  }

  &:hover,
  &:focus {
    scale: 1.2;
    border: none;
    outline: none;
    color: $theme-primary-pink-light;
    text-shadow: 0rem 0.5rem 3rem white;
  }
}
.contact-link {
  text-decoration: none;
  cursor: pointer;
  display: block;

  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
}

.pd-name-color-1 {
  color: $theme-primary-wine;
}

.pd-name-color-2 {
  color: $theme-primary-black;
}

.pd-stitch-color-1 {
  color: $theme-primary-green;
}

.pd-stitch-color-2 {
  color: $theme-primary-burgundy;
}
.pd-size-color-1 {
  color: $theme-primary-orange;
}

.pd-size-color-2 {
  color: $theme-primary-red;
}
.pd-price-color-1 {
  color: $theme-primary-cyan-bright;
}
.pd-price-color-2 {
  color: $theme-primary-blue;
}
.pd-price-color-3 {
  color: $theme-primary-brown;
}
